body{
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: aliceblue;
    height: 100vh;
}
.container{
    width: 50vw;
    padding: 20px;
    background-color: rgb(204, 222, 186);
    border-radius: 1rem;
}
.imgDiv{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.cmnButtonProperty{
    width: 150px;
    height: 150px;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    border: none;
    cursor: pointer;
}
.cmnButtonProperty:hover{
    box-shadow:  0 0 20px 5px black;
    transition: box-shadow 0.3s ease;;
}
#rock{
    background-image: url("./images/rock.png");
}
#paper{
    background-image: url("./images/paper.png");
}
#scissors{
    background-image: url("./images/scissor.png");
}
.cntWinner{
    display: flex;
    align-items: center;
    margin: 25px;
    justify-content: space-evenly;
}
.cntWinner p{
    font-size: 25px;
}
.showingWinner{
    background-color: beige;
    height: 3rem;
    width: 40vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    border-radius: 1rem;
    font-size: 18px;
}
.reset button{
    margin-top: 20px;
    height: 2.5rem;
    width: 10rem;
    border: none;
    background-color: beige;
    border-radius: 1rem;
    font-size: 19px;
}
